:root {
  --work-color: rgb(250, 217, 125);
  --work-title-color: rgb(252, 197, 47);
  --shopping-color: rgb(177, 250, 152);
  --shopping-title-color: rgb(108, 214, 73);
  --trip-color: rgb(150, 195, 250);
  --trip-title-color: rgb(82, 159, 252);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1 {
  padding-left: 10px;
}

.wrapper {
  padding: 0 50px;
  width: 80vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-file {
  font-size: 30px;
  padding-right: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}

.buttons button {
  height: 30px;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  padding: 2px 20px;
}

.fa-solid {
  padding-right: 5px;
}

.notes {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 70px;
}

.note {
  min-height: 50px;
  width: 200px;
  background-color: var(--work-color);
  margin: 20px;
}

.note-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: var(--work-title-color);
  padding: 10px;
  font-weight: 700;
}

.note-title p {
  max-width: 85%;
}

.note-content {
  padding: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  width: 450px;
  min-height: 380px;
  background-color: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  animation: in-animation 0.3s;
}

.modal h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal select {
  width: 90%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.modal textarea {
  margin-bottom: 30px;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.modal label {
  margin: 10px;
}

.modal.hidden {
  display: none;
}

.modal-warning {
  margin-top: 10px;
  color: red;
  font-weight: 700;
  visibility: visible;
}

.modal-warning.hidden {
  visibility: hidden;
}

@keyframes in-animation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
