:root {
  --work-color: rgb(250, 240, 215);
  --work-title-color: rgb(255, 217, 192);
  --shopping-color: rgb(211, 235, 205);
  --shopping-title-color: rgb(174, 219, 206);
  --trip-color: rgb(211, 206, 223);
  --trip-title-color: rgb(156, 180, 204);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(75, 75, 75);
}

.back-to-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 150px;
  height: 60px;
  left: 10px;
  top: 10px;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  z-index: 10;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

h1 {
  padding-left: 10px;
  color: white;
}

.fa-file {
  color: white;
}

.wrapper {
  padding: 0 50px;
  width: 80vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-file {
  font-size: 30px;
  padding-right: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.buttons button {
  height: 45px;
  width: 250px;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  padding: 2px 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(99, 99, 99);
  font-size: 16px;
}

.fa-solid {
  padding-right: 5px;
}

.notes {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 70px;
}

.note {
  min-height: 150px;
  width: 250px;
  background-color: var(--work-color);
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
  overflow: hidden;
}

.note-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: var(--work-title-color);
  padding: 10px;
  font-weight: 700;
  overflow: hidden;
}

.note-title p {
  max-width: 85%;
}

.note-content {
  padding: 10px;
}

.note .fa-xmark {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  width: 450px;
  min-height: 380px;
  color: white;
  background-color: rgb(50, 50, 50);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  animation: in-animation 0.3s;
}

.modal h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal select {
  width: 90%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  background-color: rgb(50, 50, 50);
  color: white;
  cursor: pointer;
}

.modal textarea {
  margin-bottom: 30px;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 10px;
}

.modal label {
  margin: 10px;
}

.modal.hidden {
  display: none;
}

.modal-warning {
  margin-top: 10px;
  color: red;
  font-weight: 700;
  visibility: visible;
}

.modal-warning.hidden {
  visibility: hidden;
}

@keyframes in-animation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
