<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>counter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="box">
        <p>Przewiń w dół</p>
    </div>

    <div class="counter-box">

        <div class="counter-item">
            <i class="ti ti-3d-cube-sphere"></i>
            <p class="counter" data-number="4857">0</p>
            <p>Stat #1</p>
        </div>
        <div class="counter-item">
            <i class="ti ti-award"></i>
            <p class="counter" data-number="48572">0</p>
            <p>Stat #2</p>
        </div>
        <div class="counter-item">
            <i class="ti ti-cheese"></i>
            <p class="counter" data-number="412347">0</p>
            <p>Stat #3</p>
        </div>

    </div>


    <div class="box"></div>



    <script src="script.js" async defer></script>
</body>

</html>