<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Acordeon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/dc238c17a3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="tip">
        <p>Go ahead and click outside acordeon when one of options is open</p>
    </div>

    <div class="acordeon-body">

        <div class="option">
            <i class="fa-solid fa-beer-mug-empty"></i>
            <p>FAQ #1</p>
        </div>
        <p class="option-content hidden">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis ad iusto
            aliquam
            obcaecati
            veritatis quaerat, dignissimos accusantium accusamus quis ullam nemo nisi vitae quam. Expedita provident
            suscipit nulla explicabo porro?</p>

        <div class="option">
            <i class="fa-solid fa-mug-saucer"></i>
            <p>FAQ #2</p>
        </div>
        <p class="option-content hidden">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi hic,
            consectetur error
            qui ad fugit
            ratione debitis cumque itaque explicabo voluptatem perferendis. Accusantium debitis deserunt doloremque
            ipsa id commodi corporis ullam corrupti ducimus eum, cumque mollitia quam rem sed reiciendis.</p>

        <div class="option ">
            <i class="fa-solid fa-cat"></i>
            <p>FAQ #3</p>
        </div>
        <p class="option-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consequatur
            laboriosam
            deserunt, reiciendis
            natus maxime eos nemo nam nobis voluptates dicta! Aliquam blanditiis soluta perspiciatis, velit quidem
            error assumenda exercitationem vel rem, eum incidunt eos qui omnis harum quo alias nam nostrum quod
            mollitia tempora?</p>
    </div>


    <script src="script.js" async defer></script>
</body>

</html>