<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scroll spy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body class="main-page">

    <nav>
        <a href="#home" class="active">Home</a>
        <a href="#section-1">Sekcja 1</a>
        <a href="#section-2">Sekcja 2</a>
        <a href="#section-3">Sekcja 3</a>
    </nav>

    <section id="home">
        <h1>Home</h1>
    </section>

    <section id="section-1">
        <h1>Sekcja 1</h1>
    </section>

    <section id="section-2">
        <h1>Sekcja 2</h1>

    </section>
    <section id="section-3">
        <h1>Sekcja 3</h1>
    </section>

    <script src="script.js" async defer></script>
</body>

</html>