@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(80, 80, 80);
  color: white;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.timeline::before {
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  background-color: rgb(50, 154, 234);
  left: 50%;
  transform: translateX(-50%);
  content: "";
}

.timeline ul {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  list-style: none;
}

.timeline li {
  position: relative;
  margin-bottom: 2em;
  padding: 2em;
  width: 50%;
  border: 1px solid rgb(50, 154, 234);
  border-radius: 8px;
}

.timeline li::after {
  position: absolute;
  top: calc(50% - 10px);

  background-color: rgb(50, 154, 234);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
}

.timeline li:nth-child(even) {
  align-self: flex-end;
  transform: translateX(20px);
}

.timeline li:nth-child(even)::after {
  left: -31px;
}

.timeline li:nth-child(odd) {
  transform: translateX(-20px);
}

.timeline li:nth-child(odd)::after {
  right: -31px;
}
