<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>draggable presents</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="wrapper">
    <h1>choose three 🎁</h1>

    <div class="box present-box">
      <p class="present" draggable='true'>⚽️</p>
      <p class="present" draggable='true'>🚗</p>
      <p class="present" draggable='true'>🚋</p>
      <p class="present" draggable='true'>💻</p>
      <p class="present" draggable='true'>📱</p>
      <p class="present" draggable='true'>🚲</p>
    </div>

    <div class="box present-box chosen-box"></div>

    <a href="">
      <button class="send-btn" disabled>Send to 🎅</button>
    </a>

  </div>


  <script src="script.js" async defer></script>
</body>

</html>